@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
}
h1 {
    font-size: 144px;
    color: azure;
    font-weight: 100;
}
select {
    border: none;
    background-color: transparent;
    color: azure;
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
}
option {
    color:#282828;
    margin: 10px;
}
